<div class="container">
    <div class="inputData">
        <label for="login">login</label><br>
        <input id="login" ng-model="$ctrl.login">
    </div>
    <br>
    <div class="inputData">
        <label for="password">password</label><br>
        <input id="password" type="password" ng-model="$ctrl.password">
    </div>
    <br>
    <div class="inputData">
        <label for="in">in</label><br>
        <input type="submit" value="in" id="in" ng-click="$ctrl.signIn(this)">
    </div>
    <br>
    <div class="inputData">
        <label for="up">up</label><br>
        <input type="submit" value="up "id="up" ng-click="$ctrl.signUp(this)">
    </div>
    <br>
</div>