<div>Admin
    <div ng-repeat="c in $ctrl.comments" style="font-weight:lighter;font-size: 13px;background-color:#87D0E8;margin:5px;">
        <span>{{c.user}}</span><br>
        <span>{{c.message}}</span><br>
        <span ng-click="$ctrl.ban(c)" style="font-weight:lighter;cursor: pointer;text-decoration: underline">Ban</span><br>
        <span ng-click="$ctrl.unban(c)" style="font-weight:lighter;cursor: pointer;text-decoration: underline">Unban</span><br>
        <span ng-click="$ctrl.delete(c)" style="font-weight:lighter;cursor: pointer;text-decoration: underline">Ban forever</span><br>
    </div>
    <br><input ng-model="$ctrl.link">link<br>
    <input ng-model="$ctrl.title">title<br>
    <input ng-model="$ctrl.description">description<br>
    <span ng-click="$ctrl.addNews(link,title,description)" style="font-weight:lighter;font-size: 13px;font-weight:bold;cursor: pointer;">ADD</span><br>
</div>